.c_album_info {
    margin-top: 0px;
    padding: 20px;
}
.c_album_info_divider {
    margin-left: -43px;
    margin-right: -43px;
}
.c_album_info_buttons {
    margin-top: 13px;
    margin-bottom: 0px;
}
.c_links {
	a.btn-flat {
		margin-bottom: 0px;
	}
}