.c-main-container {
    background: $white;
}
.c_global_floating_button {
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 1;
}
.c-first-button {
    width: 100%;
}
.c-header {
    background: $primary-color;
}
.c-header .container h4 {
    margin-top: 0;
}
.c-modal-buttons {
    margin-right: 10px;
}
.c-my-account-settings {
    padding-top: 30px;
    padding-bottom: 20px;
    .row {
        .c-name-div {
            .c-name {
                margin-top: 37px;
            }
        }
    }
}
.c-upload-music-file-modal, {
    margin-top: 110px;
    margin-bottom: 100px;
}
.c-select-a-track-button {
    margin-top: 10px;
}
.container{
    position: relative;
}
.c-links .btn-flat {
    border-radius: 0;
} 
.c-body {
    .c-header {
        .container {
            padding: 0;
        }
    }
}
.c-links {
    .tabs {
        background: none;
        li {
            background: none;
        }
        a {
            opacity: 0.6;
            filter: Alpha(opacity=60);
        }
        a.active {
            opacity: 1;
            filter: Alpha(opacity=100);
        }
    }
    .row {
        margin-bottom: 0px;
    }
}
#moreTab {
    height: 80px;
    a {
        color: #676767 !important;
        padding: 5px 15px;
        font-weight: 400;
        margin: 0;
        font-size: 0.85em;
        &:hover {
            background:#eee;
        }
    }
    li {
        text-align: center;
        background: #ffff;
        height: 40px;
    }
}
.more {
    background: none;
    display: block;
    border:none;
    color: #fff;
    text-transform: uppercase;
    margin-top: -6px !important;
    span {
        color: #fff;
    }
    i {
        color: #fff;
    }
    &:hover{
        cursor: pointer;
    }
    ul {
        padding: 0;
        position: relative;
        top: -40px;
        left: 0;
        width: 150px;
        height: 92px;
        opacity: 0;
        z-index: 990;
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
        border-bottom: 1px solid #eee;
        -webkit-transiton: opacity 0.4s;
        -moz-transition: opacity 0.4s;
        -ms-transition: opacity 0.4s;
        -o-transition: opacity 0.4s;
        transition: opacity 0.4s;
        -webkit-box-shadow: 0 5px 6px 2px rgba(0, 0, 0, 0.16);
        -moz-box-shadow: 0 5px 6px 2px rgba(0, 0, 0, 0.16);
        box-shadow: 0 5px 6px 2px rgba(0, 0, 0, 0.16);
    }
    &:focus ul,&:active ul,&:hover ul {
        opacity: 1;
        background: #90CAF9;
    }
    ul li { 
        background: #fff !important; 
        display: block; 
        color: #fff;
        width: 150px !important;
        text-align: left !important;

        border-bottom: 1px solid #fff;
    }
    ul li a {
        color: #26A69A !important;        
        width: 150px;
        padding: 5px 10px;
        opacity: 1 !important;
        filter: Alpha(opacity=100) !important;
        &:hover {
            background: rgba(0, 0, 0, 0.06) !important;
        }
    }
}
.c-tabs {
    margin-right: 20px;
}
.c-tabs.active {
    border-bottom: 4px solid $accent-color;
}
.c-labels-image {
    border-radius: 100%;
}
#upload {
    visibility: hidden;
    width: 1px;
    height: 1px;
}
.c-table-buttons i {
    cursor: pointer;
}
.c-track-terms {
    text-align: justify;
}
.c-i-agree {
    margin-top: 80px;
}

.selectfield {
    position: relative;
    text-align: left;
    margin-top: 1rem;
    label {
        display: block;
        padding-left: 10px;
        color: #9e9e9e;
        font-size: 1rem;
        cursor: text;
        transition: 0.2s ease-out;
    }
    select {
        display: block;
        position: relative;
        margin-top: 15px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #9e9e9e;
        outline: none;
        height: 3rem;
        line-height: 3rem;
        width: 100%;
        margin: 0 0 15px 0;
        padding: 0;
    }
}

.player, .shopping-cart-top, .login {
    display: inline-block;
    vertical-align: top;
}
.title-div {
     p {
        margin: 0;
     }
     p.title-album {
        font-weight: 500;
        font-size: 20px;
     }
     p.title-album-year {
        margin-bottom: 10px;
     }
}
.text-teal-accent-3 {
    color: #1de9b6;
}
.bio-img {
    padding-top: 20px;
}
.icon-height {
    height: 20px;
    width: 100%;
    line-height: 20px;
    &:hover i {
        color: #fff;
    }
}
.hide {
    opacity: 0 !important;
}
.show {
    opacity: 1 !important;
}