.c_main_container {
    background: $white;
}

.c_first_button {
    width: 100%;
}

.c_header {
    background: $primary-color;
}

.c_header .container h4 {
    margin-top: 0;
}

.c_modal_buttons {
    margin-right: 10px;
}

.c_upload_music_file_modal, {
    margin-top: 110px;
    margin-bottom: 100px;
}

.c_select_a_track_button {
    margin-top: 10px;
}

.container{
    position: relative;
}

.c_links {
    margin-top: 45px;
    line-height: 9px;
}

.c_links .btn-flat {
    border-radius: 0;
} 

.c_body {
    .c_header {
        .container {
            padding: 0;
        }
    }
}

.c_links {
    margin-top: 45px;
    .tabs {
        background: none;
        li {
            background: none;
        }
        a {
            opacity: 0.6;
            filter: Alpha(opacity=60);
        }
        a.active {
            opacity: 1;
            filter: Alpha(opacity=100);
        }
    }
    .row {
        margin-bottom: 0px;
    }
}
#moreTab {
    height: 80px;
    a {
        color: #676767 !important;
        padding: 5px 15px;
        font-weight: 400;
        margin: 0;
        font-size: 0.85em;
        &:hover {
            background:#eee;
        }
    }
    li {
        text-align: center;
        background: #ffff;
        height: 40px;
    }

}
.more {
    background: none;
    color: #fff;
    span {
        color: #fff;
    }
    i {
        color: #fff;
    }
    &:hover {
        background: none;
    }
}

.c_tabs {
    margin-right: 20px;
}

.c_tabs.active {
    border-bottom: 4px solid $accent-color;
}
.c_labels_image {
    border-radius: 100%;
}

#upload {
    visibility: hidden;
    width: 1px;
    height: 1px;
}

.c_table_buttons i {
    cursor: pointer;
}

.c_track_terms {
    text-align: justify;
}

.c_i_agree {
    margin-top: 80px;
}
