.c_main_container {
    // margin-top: -1px;
    // border: 1px solid $div-border;
    background: $white;
}

.c_first_button {
    width: 100%;
}

.c_header {
    background: $primary-color;
}

.c_header .container h4 {
    margin-top: 0;
}

.c_modal_buttons {
    margin-right: 10px;
}

.c_upload_music_file_modal, {
    margin-top: 110px;
    margin-bottom: 100px;
}

.c_select_a_track_button {
    margin-top: 10px;
}

.container{
    position: relative;
}

.c_links {
    margin-top: 45px;
    margin-bottom: -61px;
}

.c_links .btn-flat {
    border-radius: 0;

}

.c_tabs {
    margin-right: 20px;
}

.c_tabs.active {
    border-bottom: 4px solid $accent-color;
}
.c_labels_image {
	border-radius: 100%;
}

#upload {
    visibility: hidden;
    width: 1px;
    height: 1px;
}

.c_table_buttons i {
    cursor: pointer;
}

.c_track_terms {
    text-align: justify;
}

.c_i_agree {
    margin-top: 80px;
}
