@import './variables.scss';
@import './materialize.scss';


@import './admin.scss';
@import './common.scss';
@import './album_info.scss';
@import './my_account.scss';
@import './signup.scss';
@import './sidebar.scss';
@import './table.scss';
@import './search.scss';
/*@import './player.scss';*/
@import './modals.scss';
/* @import './responsive.scss'; */


@import './responsives/small.scss';
@import './responsives/medium-up.scss';
@import './responsives/medium.scss';
@import './responsives/large.scss';

.card .card-reveal {
    width: 100%;
}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.main-route-container {
    float: left;
    box-sizing: border-box;
    padding-left: 200px;
    position: relative;
    width: 100%;
    transition: all .2s ease;
}
.main-route-container.no-sidebar {
    padding-left: 0;
}



.modal-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1900;
    background: rgba(0,0,0,.2);
}
