.toCenter {
	text-align: center;
}
.toLeft {
	text-align: left;
}
.toRight {
	text-align: right;
}
.createHover {
	color: #212121;
}
.createHover:hover {
	cursor: pointer;
	color: #424242;
}
.modal {
    display: table!important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;
}
.modalCreate {
	display: block;
	height: 105px;
}
.modal-enter {
    opacity: 0.01;
    transition: all .1s ease;
}
.modal-enter.modal-enter-active {
    opacity: 1;
}
.modal-leave {
    opacity: 1;
    transition: all .1s ease;
}
.modal-leave.modal-leave-active {
    opacity: 0.01;
}
.modal_monetize{
    padding: 0;
    background: #fff;
}
.c_monetize_modal {
    margin-top: 70px;
    margin-bottom: 30px;
}
.modal_monetize_h4{
    padding: 10px 0 10px 15px;
    border-bottom: 3px solid rgb(107, 107, 107);
}
.modal_monetize_content{
    margin-top: 25px;
    margin-left: 18px;
}
.modal_monetize_context{
    background: #eeeeee;
    padding: 15px 20px;
    text-align: justify;
}
.modal_monetize_checkbox{
    margin: 40px 20px;
}
.modal_monetize_button{
    margin: 10px 20px;
}   
