.modal_monetize{
    padding: 0;
    background: #fff;
}
.modal_monetize_h4{
    padding: 10px 0 10px 15px;
    border-bottom: 3px solid rgb(107, 107, 107);
}
.modal_monetize_content{
    margin-top: 25px;
    margin-left: 18px;
}
.modal_monetize_context{
    background: #eeeeee;
    padding: 15px 20px;
    text-align: justify;
}
.modal_monetize_checkbox{
    margin: 40px 20px;
}
.modal_monetize_button{
    margin: 10px 20px;
}   
