.c_my_account_settings, .c_my_account_security, .c_my_account_updgrade {
    margin-top: 0px;
    padding: 20px;
}
.c_my_account_settings_header .s2 img{
    border-radius: 100%;
}
.c_my_account_settings_header .s10 h5 {
    margin-top: 35px;
}
.c_my_account_scrollup_button {
    left: 289px;
    top: 49px;
}