.player {
    .btn-show-playlist {
        position: relative;
    }
    .btn-volume-control {
        position: relative;
    }
    .volume-control {
        background: #fff;
        @extend .z-depth-1;
        color: $font-color;
        position: absolute;
        top: 50px;
        right: 20px;
        width: 200px;
        padding: 0 1em;
        .row {
            margin: 0;
        }
    }
    .playlist {
        background: #fff;
        @extend .z-depth-1;
        color: $font-color;
        position: absolute;
        top: 50px;
        right: 20px;
        width: 260px;
        .artwork {
            height: 260px;
            width: 100%;
            img {
                width: 100%;
                padding: 5px;
            }
            .track-info {
                width: 100%;
                min-height: 260px;
                opacity: 0.5;
                background-color: black;
                box-sizing: border-box;
                color: #fff;
                padding: 1em;
                line-height: 1.2em;
                z-index: 2000;
                position: absolute;
                top: 0;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16); 
                h5 {
                    position: absolute;
                    bottom: 20px;
                } 
                span {
                    position: absolute;
                    bottom: 15px;
                }
            }
        }
        .seeker {
            padding-left: 20px;
            padding-right: 20px;
        }
        .track-list {
            display: block;
            width: 100%;
            padding: 0;
            z-index: 1000;
            position: relative;
            border-top: 1px solid #f1f1f1;
            div {
                .track {
                    border-bottom: 1px solid #f1f1f1;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    margin-bottom: 0px !important;

                    .thumb {
                        img {
                            width: 40px;
                        }
                    }
                    .info {
                        .title {
                            margin: 12px 0 0 5px;
                            line-height: 0;
                            span {
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                        .artist {
                            margin: 14px 0 0 5px;
                            line-height: 0;
                        }
                    }
                    .remove {
                        position: relative;
                        div {
                            position: absolute;
                            top: -10px;
                            bottom: 0;
                            right: -10px;                            
                            .track-remove {
                                color: $font-color;
                            }
                        }
                    }
                    &:hover {
                        cursor: pointer;
                        background-color: #ececec;
                    }
                }
            }
            ul {
                li {
                    height: 100%;
                    &:hover {
                        background-color: #ececec;
                    }
                }
            } 
            ul, li {
                float: none;
                font-size: 1em;
                line-height: 1.2em;
            }
            .track-item {
                margin: 0;
            }
            .track-thumb-container {
                padding: 5px;
                img.track-thumb {
                    width: 100%;
                    display: block;
                }
            }
            .track-title-container {
                display: table-cell;
                vertical-align: middle;
                .track-title {
                    line-height: 43px;
                }
            }
            .track-remove-container {
                text-align: right;
                a.track-remove {
                    color: $font-color;
                    padding: 0;
                    width: 100%;
                    text-align: center;
                    transition: font-size .5s ease;
                    &:hover {
                        i {
                            font-size: 1.6em;
                        }
                    }
                }
                i {
                    font-size: 1.4em;
                    line-height: 43px;
                }
            }
        } 
        .seek-container {
            margin-top: 1em;
            margin-bottom: 1em;
            .time-current-container {
                text-align: left;
            }
            .time-end-container {
                text-align: right;
            }
                line-height: 1.2em;
            .seeker-container {
                text-align: center;
                input.seeker {
                    margin: 0;
                    width: 100%;
                }
            }
        }
    }
}