.search-btn {
    width: 200px;
    position: absolute;
    top: 0;
    right: 0;
}
.search-btn label, .search-btn .input-field {
    display: inline-block;
    vertical-align: middle;
}
.search-btn label{
    font-size: 2rem;
}
.search-btn .input-field {
    margin: 0;
    // display: none;
}
.search-box-enter {
    opacity: 0.01;
    width: 0;
    transition: all .5s ease;
}
.search-box-enter.search-box-enter-active {
    width: 160px;
    opacity: 1;
}
.search-box-leave {
    opacity: 1;
    width: 160px;
    transition: all .5s ease;
}
.search-box-leave.search-box-leave-active {
    width: 0;
    opacity: 0.01;
}