ul.side-nav.fixed{
    top: 0;
    width: 240px;
    overflow-y: auto;
    li {
        width: 240px;
        line-height: 30px;
        padding: 0px; 
    }
    .collapsible-body li a{
        margin: 0;
    }

}

.zindex-supertop {
    z-index: 9999999;
}

.side-bar {
    overflow-y: auto;
    background: $white;
    width: 200px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 990;
    height: 100%;
    a {
        width: 100% !important;
    }
    a.active {
        color:white;
        background: #eee;
        width: 105%;
    }
}

.sidebar-li{
    line-height: 30px;
    padding: 0px;
    &.active,&.active:hover { 
        background:#eee !important;
    }
    a {
        width: 100%;
        padding: 0;
        margin: 0px !important;
    }
    li:hover{
        background:none;
    }
    &:hover{
        background: none !important;
    }
}

a.collapsible-header{
    margin: 0px !important;
}

ul.collapsible{
    margin-top: 0 !important;
}

.collapsible-body{
    ul {
        padding: 0;
    }
    li {
        height: 50px;
    }
    a.active {
        background: none;
        box-shadow: none;
        width: 100%;
        color: #03a9f4 !important;
        font-weight: 500;
        padding: 10px 0px 10px 45px !important;
    }
    li:hover{
        background: none !important;
    }
} 

.waves-effect.waves-blue .waves-ripple {
  background-color: rgba(3, 169, 244, 0.65);
}

.collapse-link{
    padding: 10px 0px 10px 25px !important;
    width: 100%;
    font-weight: bold;
    color: #333;
}

.collapsed-link{
    padding: 10px 0px 10px 45px !important;
    width: 100%;
    color: #333;
}

.no-margin{
    margin: 0px;
}

.sidebar-leave {
    opacity: 1;
    margin-left: 0;
    transition: opacity .1s ease;
    transition: margin .1s ease;
}

.sidebar-leave.sidebar-leave-active {
    margin-left: -200px;
    opacity: 0.01;
}

.sidebar-enter {
    opacity: 0.01;
    margin-left: -200px;
    transition: opacity .1s ease;
    transition: margin .1s ease;
}

.sidebar-enter.sidebar-enter-active {
    opacity: 1;
    margin-left: 0;
}

nav a.button-collapse {
    position: fixed !important;
    z-index: 1001 !important;
    display: block !important;
    top: 0;
    left: 194px;
}

#burger-button {
    position: fixed;
    color: #000;
    z-index: 998;
    display: none;
    width: 37px !important;
    left: 20px;
    top: 3px;
    i {
        font-size: 2.7rem;
        color: white;
    }
}

.logo-container {
    border-bottom: 1px solid #E0E0E0;
    height: 64px;
    img {
        height: 64px;
        padding: 1px 5px;
    }
}

.side-bar ul li.no-hover:hover {
    background-color: transparent;
}

.block {
    display: block;
}

.sidebar-no-login {
    display: none;
}

.sidebar-login {
    display: block;
}
