.c_signup {
	margin-top: 40px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.c_create_account_header, .c_signin_header {
	margin-left: 10px;
}
.c_checkbox_terms {
	margin-left: 11px;
}
.c_create_account_button {
	margin-top: 30px;
	margin-left: 11px;
	width: 95.7%;
	height: 50px;
	line-height: 50px;
}