.table {
    padding-top: 15px;
    thead {
        border-bottom: none;
        line-height: 0;
        text-transform: uppercase;
    }
    tbody {
        line-height: 0;
        tr {
            td {
                text-transform: capitalize;
                div {
                    display: inline-block;
                    cursor: pointer;
                    i {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
.songs img {
	width: 50px;
}

@media #{$medium-and-down} {
    table.c_responsive_table {
        thead {
            display: none;
        }
        tbody tr {
            display: block;
            padding-left: 130px;
            padding: 1em 1em 1em 130px;
            margin: 0 -1.5em;
            &:nth-child(even) {
                background: rgba(0,0,0,.1);
            }
            &:last-child {
                border-bottom: none;
            }
            td {
                display: block;
                text-transform: capitalize;
                &:before {
                    content: attr(data-column-title);
                    display: block;
                    position: relative;
                    margin-left: -110px;
                    font-weight: bold;
                }
            }
        }
    }
}

