@media #{$large-and-up} {
    .c-header {
        padding-top: 50px;
    }
    .container {
        min-width: 700px;
    }
    .c-my-account-settings {
        padding-top: 50px;
        padding-bottom: 40px;
        .thumb {
            margin-bottom: 40px;
            .t-name {
                position: absolute;
                top: 76px;
                left: 154px;
            }
        }
        .username {
            margin-bottom: 30px;
            .u-username {
                position: absolute;
                left: 158px;
                top: 194px;
            }
        }
        .password {
            margin-bottom: 30px;
            .p-password {
                position: absolute;
                top: 247px;
                left: 158px;
            }
        }
        .email {
            .e-email {
                position: absolute;
                top: 295px;
                left: 158px;
            }
        }
    }
    .c-my-account-upgrade {
        margin-top: 1px;
        .intro-text {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
    .manage-upload-btn {
        position: absolute;
        right: -29px;
    }
    .upload-btn, .upload-btn-earnings {
        position: absolute;
        top: -28px;
        right: -29px;
    }


    .player {
        .playlist {
            .c-volume-ctrl {
                display: none;
            }
        }
    }
    .shopping-cart-top {
        border-left: 1px solid grey;
        box-shadow: 0px 0px 1px -2px;
        padding: 0 30px;
        line-height: 0;
    }
    .modal {
        .close-modal {
            display: none;
        }
    }
    ul.side-nav.fixed { 
        left : 0px !important;
    }
    .mobile-tab {
        display: none;
    }
    .default-tab {
        display: block;
    }
    .hidden-small-button {
        display: none;
    }
    .hidden-big-button {
        display: block;
    }
}

