@media #{$medium-only} {
    .c_header {
        padding-top: 50px;
        background-color: #90caf9;
    }
    .c_my_account_settings {
        padding-top: 50px;
        padding-bottom: 40px;
        .thumb {
            margin-bottom: 40px;
            .t_name {
                position: absolute;
                top: 76px;
                left: 154px;
            }
        }
        .username {
            margin-bottom: 30px;
            .u_username {
                position: absolute;
                left: 158px;
                top: 194px;
            }
        }
        .password {
            margin-bottom: 30px;
            .p_password {
                position: absolute;
                top: 247px;
                left: 158px;
            }
        }
        .email {
            .e_email {
                position: absolute;
                top: 295px;
                left: 158px;
            }
        }
    }
    .c_my_account_upgrade {
        margin-top: 1px;
        .intro_text {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    .manage-upload-btn {
        position: absolute;
        right: -29px;
    }
    .upload-btn, .upload-btn-earnings {
        position: absolute;
        top: -28px;
        right: -29px;
    }
    .c_my_account_settings_table {
        tbody {
            tr {
                td {
                    text-align: center;
                }
            }
        }
    }
    #burger-button {
        margin-top: 0px;
    }
    .player {
        margin-left: 63px;
        line-height: 0px !important;
        .btn-show-playlist {
            position: relative;
        }
        .btn-volume-control {
            position: relative;
        }
        .volume-control {
            left: 18px;
            background: #fff;
            -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            color: $font-color;
            position: absolute;
            top: 50px;
            right: 20px;
            width: 200px;
            padding: 0 1em;
            .row {
                margin: 0;
            }
        }
        .playlist {
            left: -44px;
            background: #fff;
            -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            color: $font-color;
            position: absolute;
            top: 50px;
            right: 20px;
            width: 300px;
            .track-info {
                .title {
                    margin-top: -21px;
                    i {
                        font-size: 14px;
                    }
                }
                width: 100%;
                box-sizing: border-box;
                padding: 1em;
                line-height: 1.2em;
                z-index: 2000;
                position: relative;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16); 
                 .seek-container {
                    margin-top: 1em;
                    margin-bottom: 1em;
                    .time-current-container {
                        text-align: left;
                    }
                    .time-end-container {
                        text-align: right;
                    }
                    line-height: 1.2em;
                    .seeker-container {
                        text-align: center;
                        input.seeker {
                            margin: 0;
                            width: 100%;
                        }
                    }
                }
            }
            .track-list {
                display: block;
                width: 100%;
                padding: 0;
                z-index: 1000;
                position: relative;
                ul {
                    li {
                        height: 100%;
                        &:hover {
                            background-color: #ececec;
                        }
                    }
                } 
                ul, li {
                    float: none;
                    font-size: 1em;
                    line-height: 1.2em;
                }
                .track-item {
                    margin: 0;
                }
                .track-thumb-container {
                    padding: 5px;
                    img.track-thumb {
                        width: 100%;
                        display: block;
                    }
                }
                .track-title-container {
                    display: table-cell;
                    vertical-align: middle;
                    .track-title {
                        line-height: 43px;
                    }
                }
                .track-remove-container {
                    text-align: right;
                    a.track-remove {
                        color: $font-color;
                        padding: 0;
                        width: 100%;
                        text-align: center;
                        transition: font-size .5s ease;
                        &:hover {
                            i {
                                font-size: 1.6em;
                            }
                        }
                    }
                    i {
                        font-size: 1.4em;
                        line-height: 43px;
                    }
                }
            } 
        }
    }
    ul.side-nav.fixed {
        left : -250px;
    }
    .main-route-container {
        padding-left: 0px !important;
    }
    #burger-button {
        display: block;
    }
    .mobile-tab {
        display: none;
    }
    .default-tab {
        display: block;
    }
}
