@media #{$medium-only} {
    .side-nav {
        overflow-y: scroll; 
    }
    .c_header {
        padding-top: 50px;
    }
    .c-my-account-upgrade {
        margin-top: 1px;
        .intro-text {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
    .manage-upload-btn {
        position: absolute;
        right: -29px;
    }
    .upload-btn, .upload-btn-earnings {
        position: absolute;
        top: -28px;
        right: -29px;
    }
    .c-my-account-settings-table {
        tbody {
            tr {
                td {
                    text-align: center;
                }
            }
        }
    }
    #burger-button {
        margin-top: 0px;
    }
    /*Modal Responsive - start*/
    .modal {
        min-height: 40%;
        padding: 24px 0;
        .close-modal {
            display: none;
        }
        h4 {
            font-size: 1.5rem;
            padding-left: 25px;
        }
        div {
            text-align: center;
            margin-bottom: 0;
           div {
                .action-icons {
                    width: 50% !important;
                }
                .action-icons:first-child, .action-icons:last-child {
                    display: none;
                }
           } 
        }
        .c-upload-music-file-modal {
            text-align: center;
            margin: 0 auto 40px;
            p {
                margin: 0;
            }
            .c-upload-music-file-modal-h {
                display: none;
            }
            .c-select-a-track-button {
                font-size: .8rem;
            }
            h5 {
                font-size: 1.3rem;
            }
            h6 {
                font-size: .8rem;
            }
            .input-field, .selectfield {
                margin-top: 0;
                label {
                    font-size: .8rem;
                }
                textarea {
                    overflow-y: auto; 
                }
            }
        }
    }
    .res-up-img div {
        display: block;
        width: 100% !important;
        p {
            font-size: .8rem;
        }
        div {
            text-align: center;
        }
    }
    /*Modal Responsive - end*/
    ul.side-nav.fixed {
        left : -250px;
    }
    .main-route-container {
        padding-left: 0px !important;
    }
    #burger-button {
        display: block;
    }
    .mobile-tab {
        display: none;
    }
    .default-tab {
        display: block;
    }


    .player {
        .playlist {
            .c-volume-ctrl {
                display: none;
            }
            .artwork {
                height: 150px;
                width: 75%;
            }
        }
    }

    .hidden-small-button {
        display: none;
    }
    .hidden-big-button {
        display: block;
    }

    /*Trackpage Responsive - start*/

    .nav-more {
        ul {
            right: 5px;
        }
    }

    /*Trackpage Responsive - end*/

}
