@media #{$medium-and-up} {
  // styles for medium screens and larger
    ul.side-nav.fixed {	
		left : 0px;
	}
	.mobile-tab {
		display: block;
	}
	.hidden-small-button {
        display: none;
    }
    .hidden-big-button {
        display: block;
    }
}