@media #{$small-only} {
    .c_header {
        padding-top: 60px;
        background-color: #90caf9;
    }
    .c_my_account_settings {
        padding-top: 50px;
        padding-bottom: 40px;
        .thumb, .username, .password {
            margin-bottom: 40px;
            div {
                text-align: center;
            }
        }
        .email {
            div {
                text-align: center;
            }
        }
    }
    .c_my_account_upgrade {
        margin-top: 1px;
        .intro_text {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    .manage-upload-btn {
        position: absolute;
        right: -29px;
    }

    .upload-btn, .upload-btn-earnings {
        position: absolute;
        right: 41%;
        top: -28px;
    }
    
    .top-nav {
        height: 64px;
    }

  .c_my_account_settings_table {
    tbody {
        tr {
            td {
                text-align: center;
            }
        }
    }
  }
  #burger-button {
    margin-top: 12px;
  }
  .mdi-navigation-menu {
    font-size: 1.5em !important;
  }
  .player {
    margin-top: 0px;
    margin-left: 47px;
    line-height: 59px;
    ul {
        li {
            a {
                i {
                    font-size: 1.5em;
                }
            }
        }
    }
        .btn-show-playlist {
            position: relative;
        }
        .btn-volume-control {
            position: relative;
        }
        .volume-control {
            background: #fff;
            -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            color: $font-color;
            position: absolute;
            top: 800px;
            right: -166px;
            width: 200px;
            padding: 0 1em;
            .row {
                margin: 0;
            }
        }
        .playlist {
            .c_panel_inner {
                border-bottom: 1px solid #ececec;
                padding-left: 17px;
                .row {
                    margin: 0;
                }
            }
            .c_control_div {
                border-bottom: 1px solid #ececec;
                .row {
                    margin: 0;
                    .down {
                        i {
                            position: relative;
                            top: 2px;
                            left: 30px;
                            color: gray;
                        }
                    }
                    .up {
                        i {
                            position: relative;
                            top: 2px;
                            right: 14px;
                            color: gray;
                        }
                    }
                }
            }
            background: #fff;
            -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            color: $font-color;
            position: absolute;
            top: 50px;
            right: -216px;
            width: 300px;
            .track-info {
                .title {
                    i {
                        font-size: 14px;
                    }
                }
                width: 100%;
                box-sizing: border-box;
                padding: 1em;
                line-height: 1.2em;
                z-index: 2000;
                position: relative;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16); 
                 .seek-container {
                    margin-top: 1em;
                    margin-bottom: 1em;
                    .time-current-container {
                        text-align: left;
                    }
                    .time-end-container {
                        text-align: right;
                    }
                    line-height: 1.2em;
                    .seeker-container {
                        text-align: center;
                        input.seeker {
                            margin: 0;
                            width: 100%;
                        }
                    }
                }
            }
            .track-list {
                display: block;
                width: 100%;
                padding: 0;
                z-index: 1000;
                position: relative;
                ul {
                    li {
                        height: 100%;
                        &:hover {
                            background-color: #ececec;
                        }
                    }
                } 
                ul, li {
                    float: none;
                    font-size: 1em;
                    line-height: 1.2em;
                }
                .track-item {
                    margin: 0;
                }
                .track-thumb-container {
                    padding: 5px;
                    img.track-thumb {
                        width: 100%;
                        display: block;
                    }
                }
                .track-title-container {
                    display: table-cell;
                    vertical-align: middle;
                    .track-title {
                        line-height: 43px;
                    }
                }
                .track-remove-container {
                    text-align: right;
                    a.track-remove {
                        color: $font-color;
                        padding: 0;
                        width: 100%;
                        text-align: center;
                        transition: font-size .5s ease;
                        &:hover {
                            i {
                                font-size: 1.6em;
                            }
                        }
                    }
                    i {
                        font-size: 1.4em;
                        line-height: 43px;
                    }
                }
            } 
        }
    }
    /*Modal Responsive - start*/
    .modal {
        display: block !important;
        max-width: 100%;
        width: 100%;
        min-height: 100%;
        padding: 24px 0;
        .close_modal {
            display: block;
            cursor: pointer;
            position: absolute;
            right: 15px;
            top: 10px;
        }
        h4 {
            font-size: 1.5rem;
            padding-left: 25px;
        }
        div {
            text-align: center;
            margin-bottom: 0;
           div {
                .action_icons {
                    width: 50% !important;
                }
                .action_icons:first-child, .action_icons:last-child {
                    display: none;
                }
           } 
        }
        .c_upload_music_file_modal {
            text-align: center;
            margin: 0 auto 40px;
            p {
                margin: 0;
                i {
                    font-size: 3rem;
                }
            }
            .c_upload_music_file_modal_h {
                display: none;
            }
            h5 {
                font-size: 1.3rem;
            }
            h6 {
                font-size: .8rem;
            }
            .input-field, .selectfield {
                margin-top: 0;
                label {
                    font-size: .8rem;
                }
                textarea {
                    overflow-y: auto; 
                }
            }
        }
    }

    .res_up_img div {
        display: block;
        width: 100% !important;
        p {
            font-size: .8rem;
        }
        div {
            text-align: center;
        }
    }
    .c_track_info div {
        display: block;
        width: 100% !important;
        h6 {
            font-size: 1.3rem;
            line-height: 1.8rem;
            margin: 0.5rem .5rem 0.4rem .5rem;
        }
    }
    /*Modal Responsive - end*/

    /*Sign-in Responsive - start*/
    .c_sign_in_outer, .c_sign_up_outer {
        top: 0;
        form {
            div {
                min-width: 100% !important;
                margin: 0;
                .s2 {
                    display: none;
                }
                div {
                    .card {
                        .c_sign_up_inner {
                            div {
                                p {
                                    label::before {
                                        top: 2px;
                                        left: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /*Sign-in Responsive - end*/

    i.right {
        margin: 0px;
    }
    ul.side-nav.fixed {
        left : -250px;
    }
    .main-route-container {
        padding-left: 0px !important;
    }
    #burger-button {
        display: block; 
    }
    .default-tab {
        display: none;
    }
    .mobile-tab {
        a {
            padding: 0;
        }
    }
}