@media #{$small-only} {
    .side-nav {
        overflow-y: scroll; 
    }
    .c_header {
        padding-top: 60px;
    }
    .login {
        display: none;
    }
    .c-my-account-upgrade {
        margin-top: 1px;
        .intro-text {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    .manage-upload-btn {
        position: absolute;
        right: -29px;
    }

    .upload-btn, .upload-btn-earnings {
        position: absolute;
        right: 41%;
        top: -28px;
    }
    
    .top-nav {
        height: 64px;
        .nav-wrapper {
            div{
                div {
                }
            }
        }
    }

  .c-my-account-settings-table {
    tbody {
        tr {
            td {
                text-align: center;
            }
        }
    }
  }
  #burger-button {
    margin-top: 12px;
  }
  .mdi-navigation-menu {
    font-size: 1.5em !important;
  }
    /*Modal Responsive - start*/
    .modal {
        display: block !important;
        max-width: 100%;
        width: 100%;
        min-height: 100%;
        padding: 24px 0;
        .close-modal {
            display: block;
            cursor: pointer;
            position: absolute;
            right: 15px;
            top: 10px;
        }
        h4 {
            font-size: 1.5rem;
            padding-left: 25px;
        }
        div {
            text-align: center;
            margin-bottom: 0;
           div {
                .action-icons {
                    width: 50% !important;
                }
                .action-icons:first-child, .action-icons:last-child {
                    display: none;
                }
           } 
        }
        .c-upload-music-file-modal {
            text-align: center;
            margin: 0 auto 40px;
            p {
                margin: 0;
                i {
                    font-size: 3rem;
                }
            }
            .c-upload-music-file-modal-h {
                display: none;
            }
            h5 {
                font-size: 1.3rem;
            }
            h6 {
                font-size: .8rem;
            }
            .input-field, .selectfield {
                margin-top: 0;
                label {
                    font-size: .8rem;
                }
                textarea {
                    overflow-y: auto; 
                }
            }
        }
    }

    .res-up-img div {
        display: block;
        width: 100% !important;
        p {
            font-size: .8rem;
        }
        div {
            text-align: center;
        }
    }
    .c-track-info div {
        display: block;
        width: 100% !important;
        h6 {
            font-size: 1.3rem;
            line-height: 1.8rem;
            margin: 0.5rem .5rem 0.4rem .5rem;
        }
    }
    /*Modal Responsive - end*/

    /*Sign-in Responsive - start*/
    .c_sign_in_outer, .c_sign_up_outer {
        top: 0;
        form {
            div {
                min-width: 100% !important;
                margin: 0;
                .s2 {
                    display: none;
                }
                div {
                    .card {
                        .c_sign_up_inner {
                            div {
                                p {
                                    label::before {
                                        top: 2px;
                                        left: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /*Sign-in Responsive - end*/

    i.right {
        margin: 0px;
    }
    ul.side-nav.fixed {
        left : -250px;
    }
    .main-route-container {
        padding-left: 0px !important;
    }
    #burger-button {
        display: block; 
    }
    .default-tab {
        display: none;
    }
    .mobile-tab {
        a {
            padding: 0;
        }
    }





    /*Topbar - start*/

    .player {
        line-height: 0px !important;
        .btn-show-playlist {
            position: inherit;
            a {
                font-size: 1.5rem;
            }
        }
        .playlist {
            top: 0;
            right: 0;
            width: 100%;
            .c-volume-ctrl {
                padding-left: 40px;
                padding-right: 40px;
            }
            .c-panel-inner {
                width: 60%;
                margin: 0 auto;
                text-align: center;
                padding-top: 10px;
                div {
                    margin-bottom: 0;
                    div {
                        padding: 0;
                    }
                }
            }
            .artwork {
                height: 315px;
                padding-top: 15px;
                .track-info {
                    top: 50px;
                    min-height: 305px;
                }
            }
            .track-list {
                max-height: 120px;
                div {
                    .track {
                        padding: 5px;
                        .remove {
                            div {
                                top: 20px;
                            }
                        }
                    }
                }
            } 
        }
    }
    .shopping-cart-top {
        line-height: 55px;
    }

    /*Topbar - end*/

    .hidden-small-button {
        display: block;
        a {
            padding: 0px 15px;
        }
    }
    .hidden-big-button {
        display: none;
    }


    /*Trackpage Responsive - start*/

    .nav-more {
        ul {
            right: 5px;
        }
    }

    /*Trackpage Responsive - end*/
}

