@media #{$small-only} {
    .side-nav {
        overflow-y: scroll; 
    }
    .c_header {
        padding-top: 60px;
    }
    .c-my-account-upgrade {
        margin-top: 1px;
        .intro-text {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    .manage-upload-btn {
        position: absolute;
        right: -29px;
    }

    .upload-btn, .upload-btn-earnings {
        position: absolute;
        right: 41%;
        top: -28px;
    }
    
    .top-nav {
        height: 64px;
    }

  .c-my-account-settings-table {
    tbody {
        tr {
            td {
                text-align: center;
            }
        }
    }
  }
  #burger-button {
    margin-top: 12px;
  }
  .mdi-navigation-menu {
    font-size: 1.5em !important;
  }
    /*Modal Responsive - start*/
    .modal {
        display: block !important;
        max-width: 100%;
        width: 100%;
        min-height: 100%;
        padding: 24px 0;
        .close-modal {
            display: block;
            cursor: pointer;
            position: absolute;
            right: 15px;
            top: 10px;
        }
        h4 {
            font-size: 1.5rem;
            padding-left: 25px;
        }
        div {
            text-align: center;
            margin-bottom: 0;
           div {
                .action-icons {
                    width: 50% !important;
                }
                .action-icons:first-child, .action-icons:last-child {
                    display: none;
                }
           } 
        }
        .c-upload-music-file-modal {
            text-align: center;
            margin: 0 auto 40px;
            p {
                margin: 0;
                i {
                    font-size: 3rem;
                }
            }
            .c-upload-music-file-modal-h {
                display: none;
            }
            h5 {
                font-size: 1.3rem;
            }
            h6 {
                font-size: .8rem;
            }
            .input-field, .selectfield {
                margin-top: 0;
                label {
                    font-size: .8rem;
                }
                textarea {
                    overflow-y: auto; 
                }
            }
        }
    }

    .res-up-img div {
        display: block;
        width: 100% !important;
        p {
            font-size: .8rem;
        }
        div {
            text-align: center;
        }
    }
    .c-track-info div {
        display: block;
        width: 100% !important;
        h6 {
            font-size: 1.3rem;
            line-height: 1.8rem;
            margin: 0.5rem .5rem 0.4rem .5rem;
        }
    }
    /*Modal Responsive - end*/

    /*Sign-in Responsive - start*/
    .c_sign_in_outer, .c_sign_up_outer {
        top: 0;
        form {
            div {
                min-width: 100% !important;
                margin: 0;
                .s2 {
                    display: none;
                }
                div {
                    .card {
                        .c_sign_up_inner {
                            div {
                                p {
                                    label::before {
                                        top: 2px;
                                        left: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /*Sign-in Responsive - end*/

    i.right {
        margin: 0px;
    }
    ul.side-nav.fixed {
        left : -250px;
    }
    .main-route-container {
        padding-left: 0px !important;
    }
    #burger-button {
        display: block; 
    }
    .default-tab {
        display: none;
    }
    .mobile-tab {
        a {
            padding: 0;
        }
    }




    .player {
        margin-right: -77px;
        line-height: 0px !important;
        .btn-show-playlist {
            position: relative;
            top: 31px;
            left: 30px;
        }
        .volume-control {
            background: #fff;
            -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            color: $font-color;
            position: absolute;
            top: 57px;
            right: -17px;
            width: 200px;
            padding: 0 1em;
            .row {
                margin: 0;
            }
        }
        .playlist {
            background: #fff;
            -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            color: $font-color;
            position: absolute;
            top: 25px;
            right: -321px;
            width: 370px;
            .c-volume-ctrl {
                padding-left: 40px;
                padding-right: 40px;
            }
            .c-panel-inner {
                position: relative;
                left: 91px;
                top: 11px;
            }
            .artwork {
                height: 370px;
                img {
                    width: 100%;
                }
                .track-info {
                    opacity: 0.5;
                    height: 100%;
                    background-color: black;
                    top: -370px;
                    color: white;
                    position: relative;
                    padding: 10px;
                    h5, span {
                        position: relative;
                        top: 281px;
                    }
                }
            }
            .seeker {
                padding-left: 20px;
                padding-right: 20px;
            }
            .track-list {
                border-top: 1px solid #f1f1f1;
                div {
                    .row {
                        border-bottom: 1px solid #f1f1f1;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        margin-bottom: 0px !important;
                        .thumb {
                            img {
                                width: 40px;
                            }
                        }
                        .s8 {
                            .title {
                                margin-top: 12px;
                            }
                            .artist {
                                margin-top: 14px;
                            }
                        }
                        .remove {
                            div {
                                text-align: right;
                                position: relative;
                                top: 11px;
                                margin-top: -23px;
                                .track-remove {
                                    color: $font-color;
                                }
                            }
                        }
                    }
                    .row:hover {
                        cursor: pointer;
                        background-color: #ececec;
                    }
                }
            } 
        }
    }

    .hidden-small-button {
        display: block;
        a {
            padding: 0px 15px;
        }
    }
    .hidden-big-button {
        display: none;
    }

}

